.projectStats .statistic {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.projectStats .progress {
  margin-bottom: 14px !important;
}

.projectShowSidebar {
  margin-top: 80px;
  position: fixed;
}

.projectCard .creator {
  margin-top: 7px;
}

.projectCard .creator span {
  margin-left: 5px;
}

.header.item {
  position: absolute !important;
  left: 50%;
  margin-left: -62px !important;
}
